body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    text-align: center;
    white-space: nowrap;
}

.station-list {
    position: absolute;
    left: calc(50% - 150px);
    top: 70px;
    text-align: left;
    font-size: 16px;
    font-family:Arial;
    font-weight:bold;
    color:rgba(33, 150, 243, 1);
    height: 300px;
    width: 300px;
    overflow-y: scroll;
    border: 3px solid;
    border-color:rgb(188, 190, 191);
    border-radius: 6px; 
    padding: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected {
    background-color: #e0e0e0;
  }

.text2 {
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    top: 395px;
    left: calc(50% - 150px);
    width: 300px;
    height: 60px; /* Feste Höhe der Box */
    overflow-y: auto; /* Ermöglicht Scrollen bei Überlauf */
    border: 2px solid rgb(188, 190, 191); /* Umrandung */
    border-radius: 6px; /* Abgerundete Ecken */
    padding: 5px; /* Innenabstand */
}

h2 {
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    top: 742px;
    left: calc(50% - 70px);
}

.text1 {
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    top: 740px;
    left: calc(50% + 35px);
}

.slider {
    position: absolute;
    top: 790px;
    left: calc(50% - 150px);
    width: 300px;
    height: 10px;
    border-radius: 3px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 12px; 
    background: #2196F3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background: #2196F3;
    cursor: pointer;
}

.form-container {    
    width: 500px;  
    position: absolute;
    top: 530px;
    left: calc(50% - 130px);
}

.radioButton {
    width: 45%;
    display: block;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;    
}

.radioButton input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioButton:hover input[type="radio"] ~ .checkmark {
    background-color: #ccc;
}

.radioButton input[type="radio"]:checked ~ .checkmark {
    background-color: #2196F3;
}

.radioButton input[type="radio"]:checked ~ .checkmark:after {
    display: block;
}

.radioButton .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 12px;
    background: white;
}

.checkmark {
    position: absolute;
    top: 0;
    left: -40px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 12px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

button {
    font-size:17px;
    font-family:Arial;
    width:175px;
    height:36px;
    border-width:0px;
    margin: 5px;
    color:rgba(33, 150, 243, 1);
    border-color:rgba(33, 150, 243, 1);
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    background:rgba(211, 211, 211, 1);
}

button:hover {
    background: rgba(155, 155, 155, 1)
}

button:active {
    background: rgba(155, 155, 155, 1)
}        

button:focus {
    background: rgba(211, 211, 211, 1);
  }

.button-1 {
    position: absolute;
    top: 825px;
    left: calc(50% - 87px);
}

.button-2 {
    position: absolute;
    top: 475px;
    left: calc(50% - 87px);
}

#scanInfo {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff; 
    background-color: #2196F3; 
    border-radius: 6px; 
    padding: 10px; 
    text-align: center;
    position: absolute;
    top: 150px; 
    left: calc(50% - 200px); 
    width: 400px; 
    height: 200px;
    border: 2px solid rgb(188, 190, 191); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    display: none; 
}

.spacer {
    position: absolute;
    top: 850px; 
    height: 200px; /* Höhe des leeren Feldes */
    width: 100px;
}